* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}

header {
    background-color: #4B6EA4;
    height: 50px;
    padding: 0px 30px 0px 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
}

#burger img{
    height: 40px;
    filter: brightness(0) invert(1);
}

#burger {
    visibility: visible;

    background: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#burger:hover {
    cursor:pointer
}

.nav-right {
    display: flex;
    align-items: center;
}

#nav-main {
    display: flex;
    visibility: hidden;
    gap: 40px;
}

section {
    margin: 20px;
    background-color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

main h1{
    color: #4B6EA4;
}

#side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #4B6EA4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s ease;
    z-index: 1001;
}

#side-menu.open {
    right: 0;
}

#close-menu {
    align-self: flex-end;
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#menu-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
}

#menu-overlay.show {
    display: block;
}

#side-menu a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;

    transition: 0.2s ease;
}

#side-menu a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease;
    pointer-events: none;
}


#side-menu a:hover {
    color: black;
}

#side-menu a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

@media (min-width: 768px) {
    #burger {
        visibility: hidden;
    }

    #nav-main {
        visibility: visible;
    }
}