* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

header {
    height: 60px;
    line-height: 1;

    background: linear-gradient(to right, #FD696C, #FEA32A);

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 60px; 
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    color: white;
    font-size: 24px;
    font-weight: 400;
    overflow: hidden;
    transition: color 0.4s ease;
}

nav a:hover {
    color: black;
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(240, 240, 240);
    flex: 1;
}

.bold {
    font-weight: 700;
    font-size: 20px;
}

.heading {
    font-size: 36px;
    text-align: center;
    margin: 40px;
}

.block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.block-1 img{
    height: 60%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px;
}

.item {
    background-color: white;
    box-shadow: -5px 1px 8px rgb(224, 224, 224);
    border-radius: 20px;
    padding: 10px;
}

.item-1 {
    height: 300px;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.micro-heading {
    color: #FEA32A;
    font-size: 20px;
    margin-top: 10px;
}

.block-2 {
    display: flex;
    justify-content: center;
}

.item-2 {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}

.item-2 img{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.text-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.block-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: rgb(54, 54, 54);
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 1px;
}

@media (max-width: 1800px) {
    .item-2 {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .block-1 {
        flex-direction: column;
    }
    .item-2 {
        width: 100%;
        flex-direction: column;
    }
    .block-3 {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .item-2 {
        width: 100%;
    }
}
