* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to right, #4A7BD0, rgba(115, 76, 183));
    height: 100%;
}

header {
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
}

nav {
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:visited {
    color: rgb(255, 255, 255);
}
nav a {
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: currentColor;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

.left {
    font-weight: 700;
}

.right {
    display: flex;
    font-weight: 300;
    gap: 30px;
}

.heading, .heading-3 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;

    text-align: center;
    margin-top: 40px;
}

.container {
    width: 400px;
    height: 250px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.2);

    margin: 0px 20px 20px 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading-2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: orange;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
}

.section-1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.text-2 {
    margin: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;  
    color: white;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}

.heading-3 {
    color: black;
    margin: 40px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
    padding: 50px 0px 50px 0px;
}

.container-1 {
    width: 35%;
    background-color: rgb(245, 245, 245);

    display: flex;
    align-items: center;

    padding: 20px;
    margin: 20px;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    color: black;
    font-weight: 300;
}

.number {
    background-color: #727FD5;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-right: 20px;
    flex-shrink: 0;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.section-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.section-3 p {
    font-size: 24px;
    font-weight: 300;
    width: 40%;
    margin: 40px 0 40px 0px;
}

.section-2_1{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;  
    color: white;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.section-2_1 button {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;  
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #FD676F;
    border-radius: 80px;
    border: none;
    padding: 20px;
    width: 200px;
}

.section-2_1 button:hover {
    cursor: pointer;
}

.section-2_1 h1{
    font-size: auto;
}

.section-2_1 p {
    width: 600px;
}

.section-2_2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;  
    color: black;

    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 40px;

    text-align: center;
}

.container-2_1 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;

    background-color: rgb(245, 245, 245);
    width: 300px;
    border-radius: 10px;
}

.container-2_1 h1 {
    margin: 20px;
}

.container-2_1 .bold {
    margin: 10px;
}

.containers-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 40px;
}